<div class="exm01 theme-1">
    <div class="container slide">
        <div class="row">            
			<div class="col-sm-12 content">
				<div class="row text-center" style="height:130px;">
					<div class="col-sm-4">
						<img src="../../static/images/elek_pe_0104_001.png" alt="Alt text">
					</div>
					<div class="col-sm-4">
						<img src="../../static/images/elek_pe_0104_002.png" alt="Alt text">
					</div>
					<div class="col-sm-4">
					</div>
				</div>
				<div class="row text-center">
					<div class="col-sm-4">
						<img src="../../static/images/threeImg.png" alt="Alt text">					
					</div>
					<div class="col-sm-4">
						<!--img src="../../static/images/threeImg.png" alt="Alt text"-->
					</div>
					<div class="col-sm-4">
					</div>
				</div>
				<div class="row text-center" style="height:231px;">
				</div>			
			</div>	
            <div class="col-xs-2">
               <audio-component src="en=../../static/audio/19NA00_c01s04_thgr_04_01.mp3;es=../../static/audio/19NA00_c01s04_thgr_04_01_es.mp3;"></audio-component>
            </div>
            <div class="col-xs-10">
                <navigation-component controller-as="main"></navigation-component>
            </div>
        </div>
	</div>
    <captions-component></captions-component>
</div>







