<div class="autoplay">
    <!--<span class="title">Autoplay</span>
    <button class="btn btn-initial" ng-click="audioToggle()">
        <svg width="68" height="38" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="audio == true">
            <use xlink:href="../../static/images/Buttons/autoplay-toggle-on.svg#Page-1" />
        </svg>
        <svg width="68" height="38" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="audio == false">
            <use xlink:href="../../static/images/Buttons/autoplay-toggle-off.svg#Page-1" />
        </svg>
    </button>
    -->
    <span >Autoplay</span>
    <div class="toggle-group">
        <div class="toggle" ng-class="{enable: audio === true}" ng-click="audioToggle(['off','on'])">
            <div class="switcher">{{ audioText }}</div>
            <span class="text">off</span>
            <span class="text">on</span>
        </div>
        <div class="dlm"></div>
        <div class="toggle" ng-class="{enable: lang === true}" ng-click="langToggle(['en','es'])">
            <div class="switcher">{{ langText }}</div>
            <span class="text">en</span>
            <span class="text">es</span>
        </div>
    </div>
</div>


